
<div class="container">
    <h2>Modifier le film </h2>
    <form [formGroup]="updateMovieForm" (ngSubmit)="updateFilm()">

        <div class="form-group">
            <label>Nom du film</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="entrer le nom " formControlName="titre">
        </div>

        <div class="form-group">
            <label>Date de sortie</label>
            <input type="date" class="form-control" placeholder="MM/dd/yyyy" formControlName="dateSortie" >
        </div>
        
        <div class="form-group">
            <label>Durée du film</label>
            <input type="text" class="form-control" placeholder="Entrer la durée du film" formControlName="duree">            
        </div>

        <div class="form-group">
            <label>Origine</label>
            <input type="text" class="form-control" placeholder="Origine" formControlName="origine">            
        </div>

        <div class="form-group">
            <label>Synopsis</label>            
            <input type="text" class="form-control" placeholder="Synopsis" formControlName="synopsis_film">
        </div>   

        <input type="submit" class="form-control" value="Modifier le film" class="btn btn-primary">

    </form>
</div>

