
<div class="container">
    <h2 *ngIf="films && films.length > 0">{{ titre }}</h2>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4" *ngFor="let film of films">
            <div class="card w-30 h-100">
                <h4 class="card-title">{{ film.titre }}</h4>
                <div class="card-body">                            
                    <p class="card-text">{{ film.duree}}</p>
                    <p class="card-text">{{ film.dateSortie | date : 'dd/MM/yyyy' }}</p>
                    <p class="card-text">{{ film.origine}}</p>
                    <p class="card-text">{{ film.synopsis_Film}}</p>
                    <button routerLink="/update_movie/{{ film.id }}" type="button" class="btn btn-primary col-sm-3 btn-sm float-right">Modifier</button>
                    <button type="button" (click)="delete(film.id)" class="btn btn-danger col-sm-3 btn-sm">Supprimer</button> 
                </div>        
            </div>
        </div>  
    </div>   
</div>





    


