
<div class="container">
    <h2 *ngIf="films && films.length > 0">{{ titre }}</h2>
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-3" *ngFor="let film of films">
            <div class="card w-30 h-100">
                <h4 class="card-title">{{ film.titre }}</h4>
                <div class="card-body">
                  <div id="img"  class="card w-30 h-55">
                    <img [src]="film.poster" [title]="film.titre | uppercase" [alt]="film.titre" class="card-image-top ">
                  </div>
                      <button type="button" (click)="getCharacter(film.id)">Acteur</button>
                      <div *ngIf="getCharacter">
                        <div *ngFor="let c of character">
                          <p>{{c}}</p>
                        </div>
                      </div>

                        <p class="card-text">{{ film.duree}}</p>
                        <p class="card-text">{{ film.dateSortie | date : 'dd/MM/yyyy' }}</p>
                        <p class="card-text">{{ film.origine}}</p>
                        <p class="card-text">{{ film.synopsis_Film}}</p>
                      <div id="buttons" class="btn-group btn-group-lg" role="group">
                      <button routerLink="/update_movie/{{ film.id }}" type="button" class="btn btn-primary col-sm-3 btn-sm float-right">🖊</button>
                      <button type="button" (click)="delete(film.id)" class="btn btn-danger col-sm-3 btn-sm">🗑</button>
                      <button [routerLink]="['/favorite', film.id]" type="button" class="btn btn-success col-sm-3 btn-sm">🔍</button>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>








