
<div class="container">
    <h2 *ngIf="films && films.length > 0">{{ titre }}</h2>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4" *ngFor="let film of films">
            <div class="card">
                <h5 class="card-title">{{ film.titre }}</h5>
                <img class="card-img-top" src=' film.Img_Url ' alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ film.dateSortie | date : 'dd/MM/yyyy' }}</h5>
                        <p class="card-text">{{ film.Duree }}</p>
                    </div>        
            </div>
        </div>  
    </div>   
</div>





    


