nav{
    width: 100vw;
    height: 10vh;
    background-color: rgba(182, 234, 234, 0.963);   
    margin-bottom: 4%; 
}

ul{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    height: 10vh;
    width: 50%;
    align-items: center;
    list-style: none;
}
.buttons{
    display: flex;
    margin : 0 2%;    
}
li{
    margin : 0 2%;
}

button{
    padding: 1% 2%;    
    background-color : burlywood;
    border: 1px solid burlywood;    
    margin : 0 2%;    
    cursor : pointer;
}

button:hover{
    background-color: rgb(211, 167, 108);    
}

a {
    text-decoration: none;
}

