<!--
  https://api.betaseries.com/shows/display?id=2&key=35d66b75531a
  https://api.betaseries.com/movies/list?fields=id,title,images,poster&key=35d66b75531a
  https://api.betaseries.com/shows/list?fields=id,title,images.poster&key=35d66b75531a
  https://api.betaseries.com/pictures/movies?id=2&key=35d66b75531a
  https://api.betaseries.com/search/movies?text=godfathher&key=35d66b75531a
  https://api.betaseries.com/movies/list?order=popularity&key=35d66b75531a
  https://api.betaseries.com/movies/random?&key=35d66b75531a
  https://api.betaseries.com/search/all?query=parrain&key=35d66b75531a
  -->

<app-navbar></app-navbar>

<router-outlet></router-outlet>
