
<div class="container">

  <div class="card-header">
    <button class="btn btn-info d-flex" (click)="back()">
      <span class="material-icons">keyboard_arrow_left</span>
    </button>

    <h1> {{ film.title| uppercase}} </h1>

  </div>

  <hr>

  <div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-3" *ngFor="let ac of character; let i = index">
      <div class="card w-30 h-55">
        <img [src]="ac.img">
        <p class="name"> <b>{{ ac.actor }}</b> - {{ ac.name }}  </p>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="container text-center">
      <div class="col">
        <ul *ngFor="let ac of character; let i = index">
          <li *ngIf="i>=5"> {{ ac.actor }} - {{ ac.name }}  </li>
        </ul>
      </div>
  </div> -->
<!-- </div> -->

