
.card-img-top{
  z-index:1;
}

.material-icons{
  z-index: 2;
  position: relative;
  left: 80%;
  font-size: 250%;
  color :rgb(161, 157, 157);
  bottom : 40px;
  width: 40px;
  height: 40px;
}

.material-icons:hover{
  color : rgb(97, 86, 86)
}

.card{
  box-shadow: 12px 12px 2px 1px rgba(110, 110, 112, 0.2);
}




