<div class="main-register">
    <div class="register">
        <h2>Créer un compte</h2>
        <form action="">
            <input type="text" placeholder="Entrez votre pseudo ">
            <input type="mail" placeholder="Entrez votre email">
            <input type="text" placeholder="Entrez votre prénom">
            <input type="text" placeholder="Entrez votre nom">
            <input type="password" placeholder="Entrez votre mot de passe">
            <input type="password" placeholder="Confirmez votre mot de passe">
            <input type="submit" value="Créer mon compte">
        </form>

        <a routerLink="/login">Déjà un compte ? Cliquez ici pour vous connecter</a>
    </div>
</div>
